/* Logo
–––––––––––––––––––––––––––––––––––––––––––––––––– */

img.logo {
    width: 100px;
    height: 100px;
    border: 6px solid;
    display: none;
    margin: 0 auto; }

@media (min-width: 550px) {
    img.logo {
        display: block; }
}

@media (min-width: 750px) {
    img.logo {
        width: 150px;
        height: 150px;
        border: 8px solid; }
}


/* Logo image with border
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1.title {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    color: #222222;
    font-size: 3.0rem;
    text-align: center; }

@media (min-width: 550px) {
    h1.title {
        font-size: 3.5rem; }
}

@media (min-width: 750px) {
    h1.title {
        font-size: 4.0rem; }
}

.indexstrapline {
    font-family: 'Noto Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}

.indexsubtitleleft {
    font-family: 'Lobster', cursive;
    font-size: 22px;
    text-align: right;
    text-decoration: underline;
}

.indexsubtitleright {
    font-family: 'Lobster', cursive;
    font-size: 22px;
    text-align: left;
    text-decoration: underline;
}

.containerleft {
    width: 40%;
    margin: 0 0 0 0;
    box-sizing: border-box;
}

.containerright {
    width: 40%;
    margin: 0 0 0 0;
    box-sizing: border-box;
}


/*!* Larger than desktop *!*/
/*@media (min-width: 550px) {*/
  /*.logo {*/
    /*width:150px;*/
    /*height:150px;*/
    /*border:8px solid #1EAEDB; }*/
/*}*/

/*!* Larger than desktop *!*/
/*@media (min-width: 750px) {*/
  /*.logo {*/
    /*width:180px;*/
    /*height:180px;*/
    /*border:8px solid #1EAEDB; }*/
/*}*/

/*.strapline {*/
    /*font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-size: 1.6rem;*/
/*}*/

/*@media (min-width: 550px) {*/
    /*.strapline {*/
    /*font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-size: 1.8rem;*/
/*}*/
/*}*/

/*@media (min-width: 750px) {*/
    /*.strapline {*/
    /*font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-size: 2.0rem;*/
/*}*/
/*}*/



/*.postheader {*/
    /*text-decoration: none; }*/