.logo {
    width:150px;
    height:150px;
    border:7px solid #33C3F0;
    display: block;
    margin:0 auto; }

/* Larger than desktop */
@media (min-width: 1000px) {
  .logo {
    width:180px;
    height:180px;
    border:8px solid #33C3F0; }
}

.postheader {
    text-decoration: none; }