html {
    /* Prevent font scaling in landscape while allowing user zoom */ 
    -webkit-text-size-adjust: 100%;
}

/* latin */
@font-face {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    src: local('Crimson Text Regular'), local('CrimsonText-Regular'), url(/assets/font.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: 'Crimson Text', serif;
    font-size: larger;
    background-color: #fff1e5;
    color: #33302e;
    margin: 40px 20px;
}

h1 {
    margin: 0.5rem 0;
}

hr {
    border: none;
    border-bottom: 1px solid #ccc1b7;
}

#title-nav-bar {
    float: left;
}

#title-profile-photo {
    float: right;
}
@media (max-device-width: 370px) {
  #title-profile-photo {
    display: none;
  }
}

#profile-photo {
    height: 95px;
}

#header, h2, h3, ul, menu, dir {
    margin: 1rem 0;
}

#header {
    padding: 0 0 1rem 0;
}

#title, #title:hover {
    color: black;
    text-decoration: none;
}

a {
    color: #005792;
    text-decoration: none;
}

a:hover {
    color: #13334c;
    text-decoration: underline;
}

*:focus {
    outline: 1px solid #ccc1b7;
    outline-offset: 4px;
}

@media (min-width: 640px) {
    #main-container {
        position: relative;
        display: block;
        width: 600px;
        margin: 0 auto;
    }
}

.border-bottom {
    border-bottom: 1px solid #ccc1b7
}

.nav-bar__item {
    margin-right: 0.5rem;
}

section img {
    max-width: 100%;
    width: 450px;
    margin: 2rem auto;
    display: block;
}

.youtube-video {
    max-width: 100%;
    width: 450px;
    height: 250px;
    margin: 2rem auto;
    display: block;
}

.image-label {
  text-align: center;
}

.no-wrap {
    white-space: nowrap; 
}

ul {
    padding-left: 20px;
}

.small, code.highlighter-rouge {
    font-size: 0.9em;
}
