<p class="audiobooks">
<img src="{{ book.image }}" width="40%" />
<h3><i>{{ book.title }}</i> by {{ book.author }}</h3>
<ul>
    {% if book.series %}

        <li><b>Series</b>: {{ book.series }} (part {{ book.position }})</li>
    {% endif %}
    <li><b>Narrated by</b>:
        {% for n in book.narrator %}
            {% if n == book.narrator.last %}
                {% if book.narrator.size == 1 %}
                    {{ n }}.
                {% else %}
                    and {{ n }}.
                {% endif %}
            {% else %}
                    {{ n }},
        {% endif %}
    {% endfor %}</li>
    <li><b>Running time</b>: {{ book.hours }} hours {{ book.minutes }} minutes.</li>
    <li><b>Abridgement or dramatization</b>:
        {% if book.abridged %}
            Yes.
        {% else %}
            No.
    {% endif %}</li>
</ul>
<h4>My verdict:</h4>
<ul>
    <li><b>The book</b>: {{ book.book_review }} <b>{{ book.book }}/10.</b></li>
    <li><b>The performance</b>: {{ book.performance_review }} <b>{{ book.performance }}/10.</b></li>
</ul>
<hr>
