<p class="refs"><a name="{{ paper[0] }}"></a>
    {{ paper[1].authors }} ({{ paper[1].year }}).
    {% if paper[1].title %}
        {{ paper[1].title }}.
    {% endif %}
    {% if paper[1].editor %}
        {{ paper[1].editor }},
    {% endif %}
    {% if paper[1].book and paper[1].collection and paper[1].volume %}
        <i>{{ paper[1].book }}</i> ({{ paper[1].collection }} vol {{ paper[1].volume }}, pp. {{ paper[1].first_page }}–{{ paper[1].last_page }}).
    {% else %}
        {% if paper[1].book and paper[1].volume %}
            <i>{{ paper[1].book }}</i> (vol {{ paper[1].volume }}, pp. {{ paper[1].first_page }}–{{ paper[1].last_page }}).
        {% else %}
            {% if paper[1].book and paper[1].first_page %}
                <i>{{ paper[1].book }}</i> (pp. {{ paper[1].first_page }}–{{ paper[1].last_page }}).
            {% else %}
                {% if paper[1].book and paper[1].edition %}
                    <i>{{ paper[1].book }}</i> ({{ paper[1].edition }} ed.).
                {% else %}
                    {% if paper[1].book %}
                        <i>{{ paper[1].book }}</i>.
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
    {% if paper[1].book %}
        {{ paper[1].publisher }}.
    {% endif %}
    {% if paper[1].journal %}
        {% if paper[1].volume or paper[1].first_page %}
            <i>{{ paper[1].journal }}</i>,
            {% if paper[1].volume %}
                {% if paper[1].issue %}
                    {% if paper[1].first_page %}
                        <i>{{ paper[1].volume }}</i>({{ paper[1].issue }}),
                    {% else %}
                        <i>{{ paper[1].volume }}</i>({{ paper[1].issue }}).
                    {% endif %}
                {% else %}
                    {% if paper[1].first_page %}
                        <i>{{ paper[1].volume }}</i>,
                    {% else %}
                        <i>{{ paper[1].volume }}</i>.
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if paper[1].first_page %}
                {% if paper[1].last_page %}
                    {{ paper[1].first_page }}–{{paper[1].last_page }}.
                {% else %}
                    {{ paper[1].first_page }}.
                {% endif %}
            {% endif %}
        {% else %}
            <i>{{ paper[1].journal }}</i>.
        {% endif %}
    {% endif %}
    {% if paper[1].doi %}
    <a href="https://doi.org/{{ paper[1].doi }}">https://doi.org/{{ paper[1].doi }}</a>
    {% endif %}
    {% if paper[1].arXiv %}
        arXiv:<a href="https://arxiv.org/abs/{{ paper[1].arXiv }}">{{ paper[1].arXiv }}</a>.
    {% endif %}
</p>