<nav>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo" style="border:7px solid #639956"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>I'm a researcher at <a>Yale <i class="fa fa-external-link"></i></a>. Here is my <a>CV <i class="fa fa-external-link"></i></a> and list of <a>publications</a>.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
