<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400i&amp;subset=latin-ext" rel="stylesheet">

<div style="text-align:center;padding:20px">
  <a href="/">
    <img src="/images/logo.png" style="width:180px;height:180px;border:8px solid #33C3F0;display: block;margin:0 auto;">
  </a>
</div>
<div style="text-align:center;padding:20px">
  <h1>The “Cracked Bassoon”</h1>
  <p>This is the personal blog of Sam Mathias, a researcher at Yale University. I’m interested in hearing, genetics, psychiatry, and statistics.</p>
<a class="button" href="#">Home</a> <a class="button" href="#">Archive</a> <a class="button" href="#">About me</a> <a class="button" href="#">Publications</a> <a class="button" href="#">CV</a> <a class="button" href="#">Links</a> <a class="button" href="#">Why “Cracked Bassoon?”</a>
</div>
