<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400i&amp;subset=latin-ext" rel="stylesheet">

<div style="text-align: center">
  <a href="/">
    <img src="/images/logo.png" style="width:150px;height:150px;border:16px solid #33C3F0;display: block;margin: 0 auto;">
  </a>
  <h1 style="font-family: 'Libre Baskerville',"><em>The “Cracked Bassoon”</em></h1>
  <p>This is the personal blog of Sam Mathias, a researcher at Yale. I’m interested in hearing, genetics, psychiatry, and statistics.</p>
</div>
