@font-face {
  font-family: 'charter';
  src: url('/assets/fonts/charter_regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/charter_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'charter';
  src: url('/assets/fonts/charter_italic-webfont.woff2') format('woff2'),
       url('/assets/fonts/charter_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'charter';
  src: url('/assets/fonts/charter_bold-webfont.woff2') format('woff2'),
       url('/assets/fonts/charter_bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'charter';
  src: url('/assets/fonts/charter_bold_italic-webfont.woff2') format('woff2'),
       url('/assets/fonts/charter_bold_italic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'trocchi';
  src: url('/assets/fonts/trocchi-webfont.woff2') format('woff2'),
       url('/assets/fonts/trocchi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#main-container {
  margin: 40px 20px;
}

body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: #fff1e5;
  color: #33302e;
  font-family: 'charter', georgia, 'Georgia', serif;
  font-size: medium;
  line-height: 1.5;
  max-width: 680px;
  margin: auto;
}

.refs {
  font-size:0.9em;
}

@media (min-width: 580px) {
  body {
    font-size: large;
  }
}

@media (min-width: 680px) {
  body {
    font-size: larger;
  }
}

a {
  color: #005792;
  text-decoration: none;
}

a:hover {
  color: #13334c;
  text-decoration: underline;
}

a:visited {
  color: #551A8B;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
  padding: 20px 0px;
}

img + em {
  display: block;
  text-align: center;
  padding: 0px 40px;
  font-size: 0.9em;
}

hr {
  border: none;
  border-bottom: 1px solid #ccc1b7;
}

h1 {
  font-size: 2em;
}

header {
  line-height: 1;
}

@media (max-width: 580px) {
  header h1 {
    text-align: center;
  }
}

header ul, header li {
  display: inline;
  padding: 0;
  padding-right: 8px;
}

@media (max-width: 580px) {
  header ul {
    display: block;
    text-align: center;
  }
}

@media (max-width: 580px) {
  header li {
  padding-left: 4px;
  padding-right: 4px;
  }
}

#logo {
  float: right;
  width: 105px;
  padding: 0;
  display: none;
}

@media (min-width: 580px) {
  #logo {
    display: block;
  }
}

#title, #title:hover {
  color: #33302e;
  text-decoration: none;
  font-family: 'trocchi', 'Baskerville', serif;
  font-weight: normal;
  font-size: 1.1em;
}

footer {
  font-size: 0.9em;
}

table {
  margin-left: auto;
  margin-right:auto;
  border: 1px solid #ccc1b7;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  border: 1px solid #ccc1b7;
}


/*body {*/
/*  font-family: 'bodyfont', georgia, 'Georgia', serif;*/
/*  font-size: larger;*/
/*  background-color: #fff1e5;*/
/*  color: #33302e;*/
/*  margin: 40px 20px;*/
/*  line-height: 1.4;*/
/*}*/

/*p {*/
/*  -webkit-hyphens: auto;*/
/*  -moz-hyphens: auto;*/
/*  -ms-hyphens: auto;*/
/*  hyphens: auto;*/

/*}*/

/*h1 {*/
/*  margin: 0.5rem 0;*/
/*}*/

/*hr {*/
/*  border: none;*/
/*  border-bottom: 1px solid #ccc1b7;*/
/*}*/

/*#title-nav-bar {*/
/*  float: left;*/
/*}*/

/*#title-profile-photo {*/
/*  float: right;*/
/*}*/

/*@media (max-width: 600px) {*/
/* #title-profile-photo {*/
/*  display: none;*/
/* }*/
/*}*/

/*@media (max-width: 600px) {*/
/* #long-title {*/
/*  display: none;*/
/* }*/
/*}*/

/*@media (min-width: 600px) {*/
/* #short-title {*/
/*  display: none;*/
/* }*/
/*}*/

/*#profile-photo {*/
/*  height: 95px;*/
/*}*/

/*#header, h2, h3, ul, menu, dir {*/
/*  margin: 1rem 0;*/
/*}*/

/*#header {*/
/*  padding: 0 0 1rem 0;*/
/*}*/

/*#title, #title:hover {*/
/*  color: black;*/
/*  text-decoration: none;*/
/*  font-weight: normal;*/
/*  font-family: 'titlefont', 'Baskerville', serif;*/
/*}*/

/*a {*/
/*  color: #005792;*/
/*  text-decoration: none;*/
/*}*/

/*a:hover {*/
/*  color: #13334c;*/
/*  text-decoration: underline;*/
/*}*/

/**:focus {*/
/*  outline: 1px solid #ccc1b7;*/
/*  outline-offset: 4px;*/
/*}*/

/*@media (min-width: 640px) {*/
/*  #main-container {*/
/*    position: relative;*/
/*    display: block;*/
/*    width: 600px;*/
/*    margin: 0 auto;*/
/*  }*/
/*}*/

/*.border-bottom {*/
/*  border-bottom: 1px solid #ccc1b7*/
/*}*/

/*blockquote {*/
/*	border-left: 1px solid #ccc1b7;*/
/*	padding: 0 1em;*/
/*	font-size: 0.9em;*/
/*}*/

/*.nav-bar__item {*/
/*  margin-right: 0.5rem;*/
/*}*/

/*section img {*/
/*  max-width: 100%;*/
/*  width: 450px;*/
/*  margin: 2rem auto;*/
/*  display: block;*/
/*}*/

/*.youtube-video {*/
/*  max-width: 100%;*/
/*  width: 450px;*/
/*  height: 250px;*/
/*  margin: 2rem auto;*/
/*  display: block;*/
/*}*/

/*.image-label {*/
/*  text-align: center;*/
/*}*/

/*.no-wrap {*/
/*  white-space: nowrap; */
/*}*/

/*ul {*/
/*  padding-left: 20px;*/
/*}*/

/*.small { font-size: 0.9em; }*/
/*.break { word-break: break-all; }*/

/*table {*/
/*  margin-left:auto; */
/*  margin-right:auto;*/
/* }*/
/*tr, td {padding: 0 1em}*/
/*tr:hover {background-color: #f5f5f5;}*/

/*.info {*/
/*  background-color: rgba(blue, .1);*/
/*  border: 1px solid blue;*/
/*  border-radius: 10px;*/
/* }*/

/*img + em { display: block; text-align: center; font-size: 0.9em;}*/
