body {
  background-color: #fffff8;
  color: #34312f;
  max-width: 720px;
  margin: auto;
  font-family: 'charter', georgia, 'Georgia', serif;
  font-size: 1.1rem;
}
@media (min-width: 500px) {
    body {
      font-size: 1.3rem;
    }
}


h1.posttitle {
    font-weight: bold;
    margin-top: 6rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}

@media (min-width: 640px) {
    h1.posttitle {
        margin-top: 5rem;
    }
}

.tags {
    font-style: italic;
    margin-top: 3.4rem;
    margin-bottom: 3.4rem;
}

.subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1;
    margin-top: -0.5rem;
}
h2 {
    padding-top: 1rem;
    font-style: italic;
    font-weight: bold;
    margin-top: 3.1rem;
    margin-bottom: 1.9rem;
    font-size: 2rem;
    line-height: 1;
}

h3 {
    padding-top: 1rem;
    font-style: italic;
    font-weight: bold;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
}

p, dl, ol, ul {
    line-height: 2.1rem;
}

ul, ol {
    padding-left: 1.8rem;
}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;
}

img {
    padding-top: 1.2rem;
    padding-bottom: 1rem;
  max-width: 100%;
  display: block;
  margin: auto;
/*  padding: 20px 0px;*/
}

img + em {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6;
    vertical-align: baseline;
    max-width: 80%;
    margin: auto;
    padding-bottom: 1.2rem;
}

.refs {
  padding-left: 1rem;
  text-indent: -1rem;
}

.emoji {
  height: 2.2rem;
  width: 2.2rem;
  display: inline;
  /*padding: 0 0.2em;*/
}

#main-container {
  margin: 40px 40px;
}

/*!*@media (min-width: 580px) {*!*/
/*!*  body {*!*/
/*!*    font-size: large;*!*/
/*!*  }*!*/
/*!*}*!*/

/*!*@media (min-width: 680px) {*!*/
/*!*  body {*!*/
/*!*    font-size: larger;*!*/
/*!*  }*!*/
/*!*}*!*/

/*!*a, .spoiler::before, .spoiler::after {*!*/
/*!*  color: #005792;*!*/
/*!*  text-decoration: none;*!*/
/*!*  background-color: #fff1e5;*!*/
/*!*}*!*/

/*!*a:hover {*!*/
/*!*  color: #13334c;*!*/
/*!*  text-decoration: underline;*!*/
/*!*}*!*/

/*!*a:visited {*!*/
/*!*  color: #551A8B;*!*/
/*!*}*!*/



/*!*img + em {*!*/
/*!*  display: block;*!*/
/*!*  text-align: center;*!*/
/*!*  padding: 0px 40px;*!*/
/*!*  font-size: 0.9em;*!*/
/*!*}*!*/

/*!*hr {*!*/
/*!*  border: none;*!*/
/*!*  border-bottom: 1px solid #ccc1b7;*!*/
/*!*}*!*/

/*!*h1 {*!*/
/*!*  font-size: 2em;*!*/
/*!*}*!*/

/*!*header {*!*/
/*!*  line-height: 1;*!*/
/*!*}*!*/

/*!*@media (max-width: 580px) {*!*/
/*!*  header h1, nav {*!*/
/*!*    text-align: center;*!*/
/*!*  }*!*/
/*!*  .posttitle{*!*/
/*!*    text-align: center;*!*/
/*!*  }*!*/
/*!*  ul {*!*/
/*!*    margin-left: 0;*!*/
/*!*    padding-left: 0;*!*/
/*!*  }*!*/
/*!*  body li {*!*/
/*!*    margin-left: 1em;*!*/
/*!*  }*!*/

/*!*}*!*/

/*!*header ul, header li {*!*/
/*!*  display: inline;*!*/
/*!*  padding: 0;*!*/
/*!*  padding-right: 8px;*!*/
/*!*}*!*/

/*!*@media (max-width: 580px) {*!*/
/*!*  header ul {*!*/
/*!*    display: block;*!*/
/*!*    text-align: center;*!*/
/*!*  }*!*/
/*!*}*!*/

/*!*@media (max-width: 580px) {*!*/
/*!*  header li {*!*/
/*!*  padding-left: 4px;*!*/
/*!*  padding-right: 4px;*!*/
/*!*  }*!*/
/*!*}*!*/



/*!*footer {*!*/
/*!*  font-size: 0.8em;*!*/
/*!*}*!*/

/*!*table {*!*/
/*!*  margin-left: auto;*!*/
/*!*  margin-right:auto;*!*/
/*!*  border: 1px solid #ccc1b7;*!*/
/*!*  border-collapse: collapse;*!*/
/*!*}*!*/

/*!*th, td {*!*/
/*!*  padding: 5px;*!*/
/*!*  border: 1px solid #ccc1b7;*!*/
/*!*}*!*/

/*!*.related {*!*/
/*!*  font-size: 0.8em;*!*/
/*!*}*!*/

/*!*.audiobooks {*!*/
/*!*    padding-left: 0;*!*/
/*!*    margin-left: 0;*!*/
/*!*    list-style-type: none;*!*/
/*!*}*!*/

/*!*!*.spoiler:not(:active) {*!*!*/
/*!*!*  !*user-select: none; !* if you want it to be copyable, may highlight spoiler text when they click *!*!*!*!*/
/*!*!*}*!*!*/

/*!*.spoiler::before {*!*/
/*!*  content: 'Spoliers ahead! Click and hold in the shaded area to reveal: '; !* non-breaking spaces probably necessary *!*!*/
/*!*  display: inline;*!*/
/*!*}*!*/

/*!*.spoiler:not(:active) {*!*/
/*!*  background-color: #9c918b;*!*/
/*!*  color: #9c918b;*!*/
/*!*}*!*/
