<nav>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" height="150" width="150" />
    <!--style="border:7px solid #639956"-->
    {% endif %}
  </a>
  <h1>{{ site.data.theme.name }}</h1>
  <div id="bio">
    <p>I&rsquo;m a researcher at Yale interested in hearing, genetics, and psychology. I mostly post Python code related to my work.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
