<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container">
      <div class="twelve columns content">
        <!--Top of page stuff-->
        <div align="left"><img src="/images/logo.png"> The Cracked Bassoon</div>
        <div align="right">hello</div>
      </div>
    </div>

    <div class="container">
      <div class="twelve columns content">
          {{ content }}
      </div>
    </div>

    <div class="container">
      <div class="twelve columns content">

      </div>

    </div>

  </body>

</html>
