<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
      <div class="twelve columns content">
         {% include sidebar.html %}
      </div>
    </div>
    <div class="container">
      <div class="twelve columns content">
          {{ content }}
      </div>
    </div>

    <!-- End Document
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>

</html>
